[Desktop Entry]
Type=Application
Terminal=false
Icon=None
Exec= <Path to the git project>/open_AR_Sandbox/LPG/start_sandbox.sh
Name=Open AR Sandbox
Comment=Launch the Open AR Sandbox
