[Desktop Entry]
Type=Application
Terminal=true
Icon=None
Exec= /home/sandbox/Documents/open_AR_Sandbox/LPG/start_projector_calibration.sh
Name=Projector Calibration
Comment=Open AR SandBox
