[Desktop Entry]
Type=Application
Terminal=false
Icon=None
Exec= <Path to the git project>/open_AR_Sandbox/LPG/start_sensor_calibration.sh
Name=Sensor Calibration
Comment=Launch the sensor's calibration for the Open AR SandBox
